@import url(./normalize.css);

@font-face {
  font-family: Nunito;
  src: url(/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Varela Round';
  src: url(/Varela_Round/VarelaRound-Regular.ttf);
}

:root {
  --white: 0, 0%, 100%;
  --black: 224, 100%, 10%;
  --transparent: 0, 0, 0;
  --gray-800: 224, 10%, 35%;
  --blue-500: 204, 88%, 40%;
  --gray-100: 210, 40%, 98%;
  --gray-400: 0, 0%, 85%;
  --gray-900: 215, 25%, 28%;
  --yellow: 60, 80%, 50%;
  --red: 0, 60%, 50%;
  --green: 125, 40%, 37%;

  font-family: Nunito, ui-sans-serif, system-ui, -apple-system, Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', ui-sans-serif, system-ui, -apple-system, Roboto;
}
